<!-- <p class="header">header works!</p> -->
<header>
    <h1>{{ title }}</h1> <!-- This element makes use of two way binding by linking the input below to itself using the title variable -->
    <input [(ngModel)]="title" placeholder="Edit header title" />  <!-- This element makes use of two way binding by linking the h1  above to itself using the title variable  -->
    <h2>Learning Angular</h2>
    <nav>
        <p class="date">Today's date: {{ currentDate }}</p> <!-- This element makes use of String interpolation to embed values from the component's class directly into this HTML template -->

      <!-- <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul> -->
    </nav>
  </header>
  